---
ip: "192.168.10.10"
name: London Heathrow ACDM
memory: 1024
cpus: 1
provider: virtualbox
mariadb: true
authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa
folders:
    - map: '[[ Local Directory ]]'
      to: /home/vagrant/Dashboard

sites:
    - map: dashboard.acdm
      to: /home/vagrant/Dashboard/public

databases:
    - acdm
